.mdc-list-container {
  border: 1px solid lightgray;
}

.mdc-list--avatar-list{
  .mdc-list-item__graphic {
    display: inline-flex;
    flex-shrink: 0;

    background-color: rgba(0,0,0,.3);
    color: #fff;
  }
}