@use "app-theme";
@use "@material/drawer";
@use "@material/list";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;

.mdc-drawer {
  &__app-content {
    flex: auto;
    overflow: auto;
    position: relative;
    flex-grow: 1;
  }

  &__main-content {
    overflow: auto;
    height: 100%;
  }
}
