@import "app-theme";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
  flex-grow: 1;
}

.main-content {
  overflow: auto;
  height: 100%;
}
