/**
 * mdl-stepper - A Material Design Lite Stepper component polyfill.
 * @version v1.1.6
 * @author Alexandre Thebaldi <ahlechandre@gmail.com>.
 * @link https://github.com/ahlechandre/mdl-stepper
 *
 */

$color-google-blue: #2196F3;
$color-red: #F44336;
