/**
 * mdl-stepper - A Material Design Lite Stepper component polyfill.
 * @version v1.1.6
 * @author Alexandre Thebaldi <ahlechandre@gmail.com>.
 * @link https://github.com/ahlechandre/mdl-stepper
 *
 */

/* Animation */

@mixin Animation($name, $timing, $effect, $infinite: null) {
  -webkit-animation: $name $timing $effect $infinite;
  -moz-animation: $name $timing $effect $infinite;
  -ms-animation: $name $timing $effect $infinite;
  animation: $name $timing $effect $infinite;
}


/* KEYFRAMES */

@mixin Keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

/* DISPLAY FLEX */

@mixin DisplayFlex() {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
}

/* Shadows */

@mixin shadow-0dp() {
  box-shadow: none;
}
@mixin shadow-1dp() {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity),
  0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
  0px 1px 3px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-2dp() {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
  0px 2px 2px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
  0px 1px 5px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
