/**
 * mdl-stepper - A Material Design Lite Stepper component polyfill.
 * @version v1.1.6
 * @author Alexandre Thebaldi <ahlechandre@gmail.com>.
 * @link https://github.com/ahlechandre/mdl-stepper
 *
 */

/* STEPPER */

$stepper-font-family: "Roboto", sans-serif;
$stepper-box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$stepper-padding: 12px;
$stepper-vertical-max-width: ($stepper-padding * 60);
$stepper-horizontal-min-height: ($stepper-padding * 48);
$stepper-label-layer-height: ($stepper-padding * 7);
$stepper-circle-size: (($stepper-padding * 2) + ($stepper-padding / 3));
$step-content-height: calc(100% - #{($stepper-padding * 11)});
$step-content-margin-left: (($stepper-padding * 5) + ($stepper-padding / 3));

/* GRID */

$grid-desktop-breakpoint: 840px !default;

/* SHADOWS */

$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
