$bottom-navigation-mobile-height: 56px;
$bottom-navigation-mobile-portrait-min-width: 80px;
$bottom-navigation-mobile-portrait-max-width: 168px;

$bottom-navigation-mobile-padding-right: 12px;
$bottom-navigation-mobile-padding-left: 12px;

$bottom-navigation-mobile-padding-top: 16px;
$bottom-navigation-mobile-padding-bottom: 16px;

$bottom-navigation-mobile-with-label-padding-top: 8px;
$bottom-navigation-mobile-with-label-padding-bottom: 12px;
