@import "variables";

@import "@material/theme/mixins";
@import "@material/elevation/mixins";
@import "@material/typography/mixins";

.mdc-bottom-navigation {
  position: fixed;

  bottom: 0;
  left: 0;

  width: 100%;

  height: $bottom-navigation-mobile-height;

  display: flex;
  flex-direction: row;

  justify-content: center;

  @include mdc-theme-prop(background-color, primary);
  @include mdc-theme-prop(color, on-primary);

  @include mdc-elevation(4);

  &--space-evenly {
    justify-content: space-evenly;
  }

  &__button {
    display: flex;
    flex-direction: column;

    align-items: center;

    min-width: calc(80px - (#{$bottom-navigation-mobile-padding-right} +  #{$bottom-navigation-mobile-padding-left}));
    max-width: calc(168px - (#{$bottom-navigation-mobile-padding-right} +  #{$bottom-navigation-mobile-padding-left}));

    // In landscape mode and on tablets/desktops, we set the width of the buttons to
    // the max width of a button.

    @media (orientation: landscape), (min-width: 480px)  {
      width: $bottom-navigation-mobile-portrait-max-width;
    }

    padding: $bottom-navigation-mobile-padding-top $bottom-navigation-mobile-padding-right $bottom-navigation-mobile-padding-bottom $bottom-navigation-mobile-padding-left;

    max-height: $bottom-navigation-mobile-height;
    height: $bottom-navigation-mobile-height;

    &--with-label {
      padding-top: $bottom-navigation-mobile-with-label-padding-top;
      padding-bottom: $bottom-navigation-mobile-with-label-padding-bottom;
    }

    &--horizontal {
      flex-direction: row;
      align-items: center;

      .mdc-bottom-navigation__label {
        margin-left: 4px;
      }
    }

    &--active {

    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__label {
    color: inherit;
    @include mdc-typography(caption);
  }

  &__content {
    padding-bottom: $bottom-navigation-mobile-height;
  }
}
