body {
  padding: 16px;
  margin: 0;
}

.text-field-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  .text-field-container {
    min-width: 200px;
  }
}

.text-field-row-fullwidth {
  display: block;
}

.mdc-text-field__multipart {
  display: flex;
  flex-direction: row;
  align-items: center;

  .material-icons {
    margin-left: 16px;
  }

  .mdc-text-field__input {
    &.cc {
      &-number, &-expiry, &-zipcode {
        width: auto;
      }
    }

    &:first-of-type {
      padding-right: 0;
    }

    &:last-of-type {
      padding-left: 0;
    }
  }
}

.mdc-text-field {
  &--fullwidth {
    margin-bottom: 16px;
  }
}

.shape {
  .mdc-text-field {
    border-radius: 16px 16px 0 0;
  }
}

.shape {
  border-radius: 16px 16px 0 0;
}
