.mdc-card {
  margin-bottom: 32px;
  width: 450px;

  &.standard {
  }

  &--outlined {
    //height: 250px;
  }

  &.actionable {
    //height: 250px;

    .mdc-card__primary-action {
      height: 200px;

      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: center;

      text-align: center;
    }
  }

  .my-card-media {
    //height: 300px;

    background: url(images/seascape.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .mdc-card__media-content {
      padding: 16px;
      color: #fff;
    }
  }

  &.full-bleed {
    height: unset;

    padding: 16px;


  }
}