.mdc-card {
  margin-bottom: 16px;

  &.standard {
    height: unset;

    .content {
      padding: 16px;
    }
  }

  &--outlined {
    height: 250px;
  }

  &.actionable {
    height: 250px;

    .mdc-card__primary-action {
      height: 50%;

      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: center;

      text-align: center;
    }
  }

  &.media {
    height: unset;

    background: url(images/seascape.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fff;
    padding: 16px;
  }

  &.full-bleed {
    height: unset;

    padding: 16px;


  }
}