@import "app-theme";
@import "@material/select/mdc-select";

.mdc-select {
  &.mdc-select--outlined {
    &.mdc-select--dense {
      width: 100%;
      height: 48px;

      .mdc-select__native-control {
        width: 100%;
        height: 48px;
      }

      .mdc-floating-label {
        bottom: 14px;
      }
    }
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
