@use "@material/icon-button" as iconbutton;
@use "@material/typography" as typography;
@use "@material/select" as select;
@use "@material/list" as list;

@import "app-theme";
@import "@material/checkbox/mdc-checkbox"; // Required only for data table with row selection.
@import "@material/data-table/mdc-data-table";
@import "@material/theme/color-palette";

.mdc-data-table {
  &__header-cell {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--numeric {
      .mdc-data-table {
        &__header-cell {
          &__container {
            justify-content: flex-end;
          }
        }
      }
    }

    &--sortable {
      .mdc-icon-button {
        margin-right: 4px;
        @include iconbutton.ink-color ($material-color-grey-400);
        @include iconbutton.density (-4);
      }
    }

    &--sorted {
      .mdc-icon-button {
        @include iconbutton.ink-color (primary);
      }
    }
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .mdc-icon-button {
      @include iconbutton.density (-4);
    }

    &__pages {
      padding: 0 48px;
    }

    .mdc-select {
      margin-left: 8px;
      width: 96px;

      @include select.height(32px);

      &__anchor {
        height: 32px;
        width: 100%;
        min-width: unset;
      }

      &__selected-text {
        width: 100%;
        @include typography.typography(body2);
      }

      &__menu {
        min-width: unset;

        .mdc-list {
          @include list.single-line-density(-3);

          &-item {
            &__text {
              @include typography.typography(body2);
            }
          }
        }
      }

      .mdc-notched-outline {
        width: 100%;
      }
    }
  }
}
