@use "app-theme";

@use "@material/typography" as typography;
@use "@material/select" as select;
@use "@material/list" as list;
@use "@material/theme/color-palette" as color;

@use "@material/checkbox"; // Required only for data table with row selection.
@use "@material/icon-button"; // Required only for data table with column sorting.
@use "@material/data-table/data-table";

@include checkbox.core-styles;
//@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;

.mdc-data-table {
  &__header-cell {
    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--numeric {
      .mdc-data-table {
        &__header-cell {
          &__content {
            justify-content: flex-end;
          }
        }
      }
    }

    &--sortable {
      .mdc-icon-button {
        margin-right: 4px;
        @include icon-button.ink-color (color.$grey-400);
        @include icon-button.density (-4);
      }
    }

    &--sorted {
      .mdc-icon-button {
        @include icon-button.ink-color (primary);
      }
    }
  }

  &__pagination {
    .mdc-icon-button {
      @include icon-button.density (-4);
    }

    .mdc-select {
      margin-left: 8px;
      @include select.outlined-height(32px);

      &__anchor {
        height: 32px;
        width: 100%;
        min-width: unset;
      }

      &__selected-text {
        width: 100%;
        @include typography.typography(body2);
      }

      &__menu {
        min-width: unset;

        .mdc-list {
          @include list.deprecated-single-line-density(-3);

          &-item {
            &__text {
              @include typography.typography(body2);
            }
          }
        }
      }

      .mdc-notched-outline {
        width: 100%;
      }
    }
  }
}