@import "@material/theme/color-palette";

$mdc-theme-primary: $material-color-grey-500;
$mdc-theme-secondary: $material-color-green-500;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;



