@import '@material/typography/mdc-typography';

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 24px;
  margin-top: 0;
}

h1 {
  @include mdc-typography (headline1);
}

h2 {
  @include mdc-typography (headline2);
}

h3 {
  @include mdc-typography (headline3);
}

h4 {
  @include mdc-typography (headline4);
}

h5 {
  @include mdc-typography (headline5);
}

h6 {
  @include mdc-typography (headline6);
}

p {
  @include mdc-typography (body1);
}