@use "app-theme";
@use "@material/chips/deprecated/mdc-chips";

.mdc-chip {
  &--non-interactive {
    cursor: default !important;
  }
}

.mdc-chip-set {
  position: relative;

  &__input {
    width: 150px;
    flex-grow: 1;

    margin: 4px;
    padding: 8px 4px;

    border-style: none;

    &:focus {
      outline: none;
    }
  }
}