@import "app-theme";
@import "@material/chips/mdc-chips";

.mdc-chip-set {
  &__input {
    width: 150px;
    flex-grow: 1;

    margin: 4px;
    padding: 8px 4px;

    border-style: none;

    &:focus {
      outline: none;
    }
  }
}